body {
  font-family: "Montserrat", sans-serif;
  background: #e4f6f6;
}

a {
  color: #53a8b6;
}

.weather-application {
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 40px 60px rgba(190, 183, 183, 0.1);
}

header {
  padding: 0 0 7px 0;
  border-bottom: 1px solid #e4f6f6;
}

.search-form {
  margin-bottom: 20px;
  align-items: left;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.search-form-input {
  margin-right: 10px;
  padding: 15px 20px;
  width: 80%;
  background-color: #e4f6f6;
  border: none;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.search-form-button {
  padding: 10px;
  width: 100px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background: #385170;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

main {
  padding: 30px 0;
}

.weather-data {
  margin-left: 5px;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.weather-info {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-city {
  color: #385170;
  font-size: 50px;
  line-height: 50px;
}

.weather-details-highlight {
  color: #53a8b6;
  font-size: 16px;
  font-weight: bold;
}

.weather-details {
  color: #5c715e;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.weather-temperature-container {
  margin-top: 35px;
  align-items: center;
  display: flex;
}

.weather-temperature-container .weather-icon {
  margin-right: 10px;
  height: 130px;
  width: 130px;
}

.weather-temperature {
  display: inline-block;
  margin-right: 0px;
  padding-right: 0px;
  color: #385170;
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
}

.temperature-metric {
  vertical-align: top;
  display: inline-block;
  margin-left: 0px;
  padding-left: 0px;
  color: #385170;
  font-size: 30px;
  line-height: 1;
}
.weather-forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.weather-forecast-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 3.5px 3.5px 3.5px;
  padding: 8px;
  width: calc(100% / 6 - 25px);
  text-align: center;
  background-color: #e4f6f6;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(190, 183, 183, 0.1);
}

.weather-forecast-day {
  margin: 5px 0 15px 0;
  color: #385170;
  font-size: 14px;
  font-weight: 600;
}

.weather-forecast-box .weather-icon {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}
.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.weather-forecast-temperature {
  padding: 0 5px;
  color: #53a8b6;
  font-size: 13px;
}
footer {
  padding: 20px 0 0 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #e4f6f6;
}
